<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=440px, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="../javascript/login.js"></script>
    <title>Login Trackgenix</title>
</head>
<body>
    <header>
        <h1>Trackgenix</h1>
        <a href="index.html">Go back</a>
    </header>
    <main>
        <div class="maindiv">
            <div>
                <h2>Sign In</h2>
                <div id="emaildiv">
                        <input type="text" id="email" placeholder="john@Doe.com">
                        <span> </span>
                    </div>
                <div id="passdiv">
                        <input type="input" id="pass" placeholder="°°°°°°°">
                        <span></span>
                </div> 
                <div>
                    <input type="checkbox" name="cbox1" class="cbox"  value="remember_me"> 
                    <p>Remember Me</p>
                </div>
            </div>
            <button type="submit" id="login">Login</button>
            <a href="sign-up.html">
                <button type="button" id="nuser">New User</button>
            </a>
            </form>
            <div>
                <a href="#">Forgot your Password?</a>
                <a href="#">Reset it.</a>
            </div>
        </div>
    </main>
    <div class="green-bar"> </div>
    <footer>
        <p>Rosario, Argentina.</p>
        <p>Copyright &copy 2022 Trackgenix SA. All rights reserved</p>
    </footer>
</body>
</html>