<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <script src="../javascript/sign-up.js"></script>
        <title>Sign-up Trackgenix</title>
    </head>
    <body>
        <header>
            <h1>Trackgenix</h1>
            <a href="index.html">Go back</a>
        </header>
        <main>
                <h2>Register</h2>
                <form>
                    <div id="fnameDiv">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" placeholder="First Name">
                        <span></span>
                    </div>
                    <div id="lnameDiv">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname" placeholder="Last Name">
                        <span></span>
                    </div>
                    <div id="dniDiv">
                        <label for="dni">DNI</label>
                        <input type="text" id="dni" name="dni" placeholder="DNI">
                        <span></span>
                    </div>
                    <div id="bdateDiv">
                        <label for="bdate">Birthday</label>
                        <input type="text" id="bdate" name="bdate" placeholder="20/02/2000">
                        <span></span>
                    </div>
                    <div id="pnumberDiv">
                        <label for="pnumber">Phone Number</label>
                        <input type="text" id="pnumber" name="pnumber" placeholder="0123456789">
                        <span></span>
                    </div>
                    <div id="addressDiv">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" placeholder="Your current address.">
                        <span></span>
                    </div>
                    <div id="cityDiv">
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" placeholder="Your city of residence.">
                        <span></span>
                    </div>
                    <div id="pcodeDiv">
                        <label for="pcode">Postal Code</label>
                        <input type="text" id="pcode" name="pcode" placeholder="9999">
                        <span></span>
                    </div>
                    <div id="emailDiv">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="asd@info.com">
                        <span></span>
                    </div>
                    <div id="passDiv">
                        <label for="pass">Password</label>
                        <input type="text" id="pass" name="pass" placeholder="********">
                        <span></span>
                    </div>
                    <div id="rpassDiv">
                        <label for="rpass">Repeat password</label>
                        <input type="text" id="rpass" name="rpass" placeholder="********">
                        <span></span>
                    </div>
                    <div>
                        <button type="submit" id="create">Create</button>
                    </div>
                </form>
        </main>
        <div class="green-bar"> </div>
        <footer>
            <p>Rosario, Argentina.</p>
            <p>Copyright &copy 2022 Trackgenix SA. All rights reserved</p>
        </footer>
    </body>
</html>