aside {
    position:fixed;
    width: 308px;
    height: 730px;
    margin-left: 18.71px;
}

.aside-menu {
    width: 268px;
    height: 330px;
    margin-right: 21.29px;
}

.under-green {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3.95px solid #AACE9B;
}

.bar-down li {
    padding-bottom:19px;
    border-bottom: 1px solid #C4C4C4;
}

aside ul {
    width: 268px;
    height: 208px;
}

aside li {
    margin-top: 39.84px;
    margin-bottom: 19px;
    list-style-type: none;
}

aside a {
    text-decoration: none;
}

aside p {
    margin-top: 33.88px;
}

aside img {
    margin-left:auto;
    float:left;
}

.aside-menu:last-child li img {
    display: inline-block;
    width: max-content;
}

.aside-menu:last-child a {
    display: inline-block;
    margin-top: 10px;
    margin-left:19px
}

.aside-menu:last-child li:last-child img {
    margin-left: 5px;
    
}

aside li p {
    display:inline;
    margin-left:26px;
}