.image-container{
    position:relative;
    overflow:hidden;
    float: left;
    width:94.19px;
    height:94.19px;
    margin:30px;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    }

.image-container img{ 
    top:-100px;
    left:-100px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /*Safari and Chrome */  
}
.container-features{
    display: inline-block;
    width: 409px;
    margin-right: 149px;
}
    
.container-features p{
    clear: right;
}
    
.container-features h4{
    display: inline-block;
    clear: right;
    margin-top: 9px;
    margin-bottom: 41px;
}
.container-features.container-end{
    margin-right: 114px;
}