#caddy{
    float: right;
}

.history img{
    float: left;
    width: 350px;
    height: 156px;
    margin-bottom: 32px;
   
}

.history h3{
    margin-bottom: 21px;
}

.history div{
    display:  inline-block;
}

