.products div {
    display: inline-block;
    width: 33%;
}

.products h3 {
    margin-bottom: 14px;
}

ol {
    margin-left: 18px;
}

.products li {
    list-style-type: decimal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}