.why{
    height:442px ;
    width: 1110px;
    margin-right: 10px;
}

.why img{
    width: 255px;
    height: 231px;
}

.hzt-bar{
    display: inline-block;
    height: 360px; 
    margin: 0px 9px; 
    border-left: 1px solid black;
}

.why article{
    display: inline-block;
    width: 256px;
    margin:45px 0px 0px 0px ;
}

.why h4{
    margin-top: 20px;
    margin-bottom: 5px;
}

.why p{
    width: 254px;
    height: 53px;
    margin: 0px;
}