.features {
    margin: 0px 45px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.features h3 {
    width: 100%;
    text-align: center;
}

.container-features {
    display: flex;
    justify-content:start;
    align-content: center;
}

.image-container {
    position:relative;
    overflow:hidden;
    width:94px;
    height:95px;
    align-self: stretch;
    margin:30px;
    border-radius: 3px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
}

.image-container img { 
    top:-100px;
    left:-100px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.container-features div:last-child {
    width: 264px;
    
}

.container-features div h4 {

    margin: 12px 0px 10px 15px;
    align-self: flex-start;
}

.container-features div p {
    margin-left: 15px ;
    align-self: center;
}