.history {
min-width: 350px;
max-width: 1110px;
display: flex;
flex-flow:row wrap ;
justify-content: center;
text-align: center;

}

.history div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.history h3 {
    width: 100%;
    margin-bottom: 10px;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.history h4 {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}
.history div:last-of-type{
    flex-wrap: wrap-reverse;
}
.history div p {
    min-width: 350px;
    max-width: 520px;
    margin-bottom: 16px;
}

.history h4 {
    margin-bottom: 16px;
}

.history img {
 width: 350px;
 height: 156px;
 margin-bottom: 16px;
}

.history div:last-of-type p {
    margin-bottom: 0px;
}


