.products {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.products div {
    width: 339px;
    display: flex;
    flex-flow: row wrap;

}

.products h3 {
    width: 100%;
    margin-left: 20px;
}

ol {
    width: 100%;
    margin: 10px;
}

.products li {
    margin-left: 20px;
    list-style-type: decimal;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}