* {
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

a {
    color:#373867;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}


h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

button {
    box-sizing: border-box;
    padding: 14px 36px;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    background: #FFFFFF;
    color: #AACE9B;
}

hr {
    margin: 32px 45px;
}

.icon {
    width: 32px;
    height: 32px;
}

.green-bar {
    height: 6px;
    margin: 16px 45px;
    background: #AACE9B;
}
