* {
    font-family: 'Roboto', sans-serif;
    color: #373867;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

a {
    color:#373867;
    text-decoration: none;
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}


h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

button {
    box-sizing: border-box;
    padding: 14px 36px;
    border: 3px solid #AACE9B;
    border-radius: 5px;
    background: #FFFFFF;
    color: #AACE9B;
}

hr {
    max-width: 1110px;
    margin: 32px 20px;
}

.icon {
    width: 32px;
    height: 32px;
}

.green-bar {
    max-width: 1110px;
    height: 6px;
    margin: 16px 20px;
    background: #AACE9B;
}

@media (min-width:768px) {
    .why .hzt-bar{
       display:block; 
    }

    .why .hzt-bar:nth-of-type(2){
        display: none;
    }
    .products li{
        text-align: left;
    }
    .products h3{
        text-align: left;
    }

    .history p{
        text-align: left;
    }
}

@media (min-width:1003px) {
    .why article img {
        width: 255px;
    }

    .why article {
        width:255px;
    }

    .why .hzt-bar:nth-of-type(2){
        display:block; 
     }

    .why .hzt-bar:nth-of-type(3){
        display:none; 
     }
}

@media (min-width:1086px) {

    .why article:nth-of-type(4){
        margin-left: 24px ; 
     }
}

@media (min-width:1110px) {
    .title div{
        text-align: left;
    } 

    .title img{
        width:540px
    }

    .why article:nth-of-type(4){
        margin-left: 0px ; 
     }
    .why .hzt-bar:nth-of-type(3){
        display:block; 
     }
}

@media (max-width:1439px){
    aside {
        display:none;
    }

    header, main, footer{
        margin-left: 45px;
        margin-right: 45px;
    }
}

@media (min-width:1440px){
    aside {
        display:block;
    }

    header, main, footer {
        margin-left: 320px ;
    }

   
}
