.title {
    max-width: 1110px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow:row wrap-reverse;
    justify-content: start;
    align-content: center;
}

.title img {
    width: 350px;
    height: 360px;
}

.title div {
    width: 350px;
}

.title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.title p {
    margin-bottom: 26px;
}

