.why {
    max-width: 1110px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.why h3 {
    width: 100%;
}

.why article {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 0px 0px ;
}

.why img {
    width: 320px;
    height: 231px;
}

.why h4 {
    margin-top: 20px;
    margin-bottom: 5px;
}

.why p {
    max-width: 255px;
    margin: 0px;
}

.hzt-bar {
    display:none;
    align-self: center;
    height: 328px;
    margin: 45px 11px 0px 11px;
    border-left: 1px solid black;
}

